<h1 class='text-center'>{{title}}</h1>
<p class='text-center'>Welcome to {{title}}</p>
<hr>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div align='middle'>
                <img src="https://upload.wikimedia.org/wikipedia/tr/0/0d/Tcdd_logo.PNG" alt="">
            </div>  
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="list-group">
                <a href="/trains" class="list-group-item list-group-item-action">
                    Show All Trains
                    <i class="fa fa-train float-right" aria-hidden="true"></i>
                </a>
                <a href="/trains/newTrain" class="list-group-item list-group-item-action"> Define New Train 
                    <i class="fa fa-train float-right" aria-hidden="true"></i>
                    <i class="fa fa-plus float-right" aria-hidden="true"></i>
                </a>
                <a href="/tickets" class="list-group-item list-group-item-action"> Show All Tickets 
                    <i class="fa fa-ticket float-right" aria-hidden="true"></i>
                </a>
                <a href="/tickets/newTicket" class="list-group-item list-group-item-action"> Define New Ticket 
                    <i class="fa fa-ticket float-right" aria-hidden="true"></i>
                    <i class="fa fa-plus float-right" aria-hidden="true"></i>
                </a>
                <a href="/voyages" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true"> Show All Voyages 
                    <i class="fa fa-road float-right" aria-hidden="true"></i></a>
                <a href="/voyages/newVoyage" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true"> Define New Voyage 
                    <i class="fa fa-road float-right" aria-hidden="true"></i>
                    <i class="fa fa-plus float-right" aria-hidden="true"></i>
                </a>
                <a href="/sales" class="list-group-item list-group-item-action">
                    Show All Sales
                    <i class="fa fa-money float-right" aria-hidden="true"></i>
                </a>
                <a href="/sales/newSales" class="list-group-item list-group-item-action">
                    Sell Ticket
                    <i class="fa fa-money float-right" aria-hidden="true"></i>
                    <i class="fa fa-plus float-right" aria-hidden="true"></i>
                </a>
                <a href="/passenger" class="list-group-item list-group-item-action">
                    Show All Passengers
                    <i class="fa fa-user float-right" aria-hidden="true"></i>
                    <i class="fa fa-plus float-right" aria-hidden="true"></i>
                </a>
                <a href="/passenger/newPassenger" class="list-group-item list-group-item-action">
                    Define New Passenger
                    <i class="fa fa-user float-right" aria-hidden="true"></i>
                    <i class="fa fa-plus float-right" aria-hidden="true"></i>
                </a>
                </div>
        </div>
    </div>
</div>